<header class="header">
  <div class="container">
    <div class="header__content flex centerV jcsb">
      <div class="header_part flex centerV">
        <div class="logo__cont">
          <a href="/" class="custom-logo-link">
            <img src="./img/icons/logo.svg" alt="" />
          </a>
          <div class="logo__sm">
            <img src="./img/icons/logo_sm.svg" alt="">
          </div>
        </div>
      </div>
      <div class="header_part">
        <nav class="header__nav">
          <button class="openNavDesc"></button>
          <ul>
            <li>
              <a href="../cases.html">Works</a>
            </li>
            <li>
              <a href="../about.html">About</a>
            </li>
            <li>
              <a href="../services.html">Services</a>
            </li>
            <li class="current-menu-item">
              <a href="../contact.html">Contacts</a>
            </li>
            <li>
              <a href="../blog.html">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header_part flex centerV">
        <nav class="header__lang">
          <ul>
            <li>
              <a href="/">Eng</a>
            </li>
          </ul>
        </nav>
        <a href="./contact.html" class="button primary header__button">
          <span class="bgbtn"></span>
          <span>Let’s talk</span>
        </a>
      </div>
      <button class="header__burger noAct">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>


<load="./navigation.html" />