<div class="navigation noAct">
  <div class="navigation__inner">
    <p class="nav__text">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <div class="nav__bottom">
      <nav class="navigation__nav">
        <ul>
          <li class="current-menu-item">
            <a href="#">Works</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </nav>
      <nav class="navigation__lang">
        <ul>
          <li class="current-lang">
            <a href="/">Eng</a>
          </li>
          <li>
            <a href="/">Ukr</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
