body {
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--cw2);
    color: var(--ct);
    font-family: var(--ff);
}

.container {
    max-width: 90rem; 
    padding: 0 3.5rem;
}

.button {
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: transparent;

    &.primary {
        background-color: var(--co);
        color: var(--cw);
    }

    &.secondary {
        background-color: var(--cw);
        color: var(--ct);
    }

    &.thirty {
        border: 1px solid var(--cw);
        color: var(--cw);
    }

    &.fourth {
        border: 1px solid var(--ct);
        color: var(--ct);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;

    &.center {
        text-align: center;
    }
}

h1 {
    font-size: 8.25rem;
    line-height: 8rem;
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
}

.section__title {
    padding-top: 1.5rem;
    border-top: 1px solid var(--cgd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    h2 {
        max-width: calc(100% - 4rem);
    }

    &.center {
        justify-content: center;

        h2 {
            width: 100%;
            text-align: center;
        }
    }
}

.section__simple {
    margin-top: 12.5rem;
}

.page__heading {
    margin-top: 12rem;
    gap: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        max-width: 55rem;
    }
}
