body {
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--cw2);
    color: var(--ct);
    font-family: var(--ff);
}

.container {
    max-width: 90rem;
    padding: 0 3.5rem;
}

.button {
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: transparent;

    &.primary {
        background-color: var(--co);
        color: var(--cw);
    }

    &.secondary {
        background-color: var(--cw);
        color: var(--ct);
    }

    &.thirty {
        border: 1px solid var(--cw);
        color: var(--cw);
    }

    &.fourth {
        border: 1px solid var(--ct);
        color: var(--ct);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;

    &.center {
        text-align: center;
    }
}

h1 {
    font-size: 8.25rem;
    line-height: 8rem;
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
}

.section__title {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;

    .hr {
        background-color: var(--cgd);
        position: absolute;
        left: 0;
        width: 0;
        height: 1px;

        &.hrt {
            top: 0;
        }

        &.hrb {
            bottom: 0;
        }
    }

    h2 {
        max-width: calc(100% - 4rem);
    }

    &.center {
        justify-content: center;

        h2 {
            width: 100%;
            text-align: center;
        }
    }
}

.section__simple {
    margin-top: 12.5rem;
}

.page__heading {
    margin-top: 12rem;
    gap: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        max-width: 55rem;
    }
}

.coursorField {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 6;

    &:hover {
        & + .coursor {
            opacity: 1;
            visibility: visible;

            img {
                animation: blink 0.6s;
            }
        }
    }
    & + .coursor {
        width: 9.5rem;
        height: 4rem;
        position: absolute;
        z-index: 5;
        transform-origin: center center;
        transform: rotate(-2deg) translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;

        img {
            width: 100%;
            height: 100%;
            transform-origin: center center;
            transform: rotateX(0deg);
        }
    }
}

@keyframes blink {
    50% {
        transform: rotateX(85deg); /* Початкова та кінцева позиція - не повернуте око */
    }
    100% {
        transform: rotateX(0deg); /* Поворот ока на 90 градусів для симуляції кліпання */
    }
}

@media screen and (max-width: 1440px) {
    html,
    body {
        font-size: 1.11vw;
    }
}

@media screen and (max-width: 960px) {
    html,
    body {
        font-size: 16px;
        &.overHideMob {
            overflow: hidden;
        }
    }
    .container {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 375px) {
    html,
    body {
        font-size: 4.27vw;
    }
}
