body {
    /* Colors */
    --cw: #FEFEFE;
    --cw2: #F9F9F9;
    --ct: #191919;
    --ctf: #767676;
    --ctf2: #A5A5A5;
    --cg: #5F5F5F;
    --cgd: #E9E9E9;
    --cgl: #F1F1F1; 
    --co: #FF5941;
    --cb: #C7DDED;
    --cf: #4A4A4A;
    --cy: #FFA439;
 
    /* Fonts */
    --ff: "MazzardH";
}  
