<section class="policy">
  <div class="container">
    <div class="policy__heading">
      <h1 class="policy__title">Privacy policy</h1>
      <div class="policy__update">
        Last update: July 24, 2023<br />
        Published: May 16, 2021
      </div>
    </div>

    <div class="policy__body">
      <div class="policy__sidebar">
        <ul class="policy__tabs ankor"></ul>
      </div>

      <div class="policy__content">
        <div class="embedContent">
          <h2>Definitions</h2>
          <h3>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. 
          </h3>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h2>About DigitalKit agency</h2>
          <h3>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. 
          </h3>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h2>Users rights</h2>
          <h3>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. 
          </h3>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h2>Collected data</h2>
          <h3>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. 
          </h3>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h2>Terms of data storage</h2>
          <h3>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. 
          </h3>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Ut enim ad minim veniam, quis <b>nostrud exercitation</b> ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            <b>fugiat nulla</b>
            pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
