.case__item {
    gap: 1rem;
    display: flex;
    position: relative;

    &:nth-child(even) {
        flex-direction: row-reverse;
    }
}

.case__info {
    min-height: 42.5rem;
    width: 27rem;
    min-width: 27rem;
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    background-color: var(--cw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.case__domain {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--co);
}

.case__bottom {
    a {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 500;
        color: var(--ct);
    }
}

.case__desc {
    margin-top: 1.5rem;
    color: var(--cg);
}

.case__main {
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > .project__tags {
        margin-top: 2rem;
    }

    .project__tags {
        max-width: 33rem;
        position: relative;
        z-index: 2;
        top: inherit;
        left: inherit;
        bottom: inherit;
        right: inherit;
    }
}

.case__top,
.related__top {
    position: relative;
    z-index: 2;

    .project__tags {
        li {
            a,
            span {
                background-color: var(--cw);
            }
        }
    }
}

.case__arrow {
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-position: center center;
    border-radius: 50%;
    background-color: var(--cw);
    transition: 0.5s;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 16H24M24 16V24M24 16L16 24' stroke='%23191919' stroke-width='2' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A");
}

.case__img {
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: .5s;

    img {
        transition: .5s;
    }
}

@media screen and (min-width: 960px) {
    .case__item {
        &:hover {
            .case__arrow {
                background-color: var(--co);
                background-position: 2.5rem -2.5rem;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5859 17H16.0001V15H24.0001L25.0001 16V24H23.0001V18.4142L16.7072 24.7071L15.293 23.2929L21.5859 17Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            .case__img {
                top: .75rem;
                left: .75rem;
                bottom: .75rem;
                right: .75rem;
                img {
                    width: calc(100% + 1rem);
                    height: calc(100% + 1rem);
                }
            }
        }
    }
}


@media screen and (max-width: 960px) {
    .case__item {
        gap: 0.5rem;
        .coursor {
            display: none !important;
        }
    }
    .case__info {
        min-height: 22rem;
        width: calc(50% - 0.25rem);
        min-width: inherit;
        padding: 1rem;
        border-radius: 0.75rem;
    }
    .case__domain {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .case__bottom {
        margin-top: 4rem;
        a {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    .case__desc {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-top: 1rem;
    }
    .case__main {
        width: calc(50% - 0.25rem);
        border-radius: 0.75rem;
        padding: 1rem;
        .project__tags {
            max-width: inherit;
        }
    }
    .case__top,
    .related__top {
        .project__tags {
            li {
                a,
                span {
                    padding: 0.5em 0.75rem;
                }
            }
        }
    }
    .case__arrow {
        width: 2rem;
        height: 2rem;
        background-position: center center !important;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 16H24M24 16V24M24 16L16 24' stroke='%23191919' stroke-width='2' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A") !important;
    }
}

@media screen and (max-width: 640px) {
    .case__item {
        flex-direction: column-reverse !important;
    }
    .case__info,
    .case__main {
        width: 100%;
    }
    .case__info {
        min-height: auto;
    }
    .case__main {
        min-height: 22rem;
    }
}
