.article {
  padding: 10.5rem 0 4rem 0;

  &__body {
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  &__direction {
    color: var(--cw);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.71;
    padding: 0.25rem 0.75rem;
    border-radius: 16rem;
    background-color: transparent;
    backdrop-filter: blur(0.75rem);
  }
  &__date {
    color: var(--cg);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.71;
  }

  &__title {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1.11;
    margin-bottom: 3rem;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__ava {
    overflow: hidden;
    position: relative;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 50%;
  }
  &__info {
  }
  &__name {
    font-weight: 600;
  }
  &__job {
    color: var(--cg);
    font-size: 0.875rem;
    line-height: 1.42;
  }

  &__soc {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    &.soc-mob {
      display: none;
    }
    p {
      text-wrap: nowrap;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.71;
    }
    ul {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      overflow: hidden;
      border: 0.0625rem solid var(--ct);
    }
    span {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__main {
    border-top: 0.0625rem solid var(--cgd);
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 20rem 48rem;
    gap: 1rem;
  }

  &__sidebar {
    position: relative;
  }
  &__summar {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 1rem;
  }
  &__tabs {
    position: sticky;
    top: 8.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    a {
      display: block;
      color: var(--ct);
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.71;
      &.active {
        color: var(--ctf);
      }
    }
  }
  &__content {
  }
}

@media screen and (max-width: 960px) {
  .article {
    padding: 9.75rem 0 5.5rem 0;

    &__heading {
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
    &__direction {
      font-size: 0.75rem;
      line-height: 1.33;
    }
    &__date {
      font-size: 0.75rem;
      line-height: 1.33;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 1.33;
      margin-bottom: 2rem;
    }

    &__box {
      align-items: stretch;
      justify-content: stretch;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 3rem;
    }

    &__soc {
      margin-top: 2rem;
      gap: 1rem;
      &.soc-desc {
        display: none;
      }
      &.soc-mob {
        display: flex;
      }
      ul {
        gap: 0.75rem;
      }
    }

    &__main {
      border-top: none;
      padding-top: 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    &__sidebar {
      display: none;
    }

    &__content {
      .embedContent {
        h3,
        h4,
        h5 {
          font-size: 1.5rem;
          line-height: 1.33;
        }
      }
    }
  }
}
