.policy {
  padding-top: 9.625rem;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    padding-bottom: 3.5rem;
  }
  &__title {
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.08;
  }
  &__update {
    flex-shrink: 0;
    color: var(--cg);
    margin-bottom: 1rem;
  }

  &__body {
    display: grid;
    grid-template-columns: 13rem 1fr;
    border-top: 0.0625rem solid var(--cgd);
  }
  &__sidebar {
    padding-top: 3rem;
    padding-right: 2.375rem;
  }
  &__tabs {
    position: sticky;
    top: 8.125rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    li {
      overflow: hidden;
    }
    a {
      display: flex;
      align-items: start;
      gap: 0.75rem;
      color: var(--ctf);
      font-weight: 600;
      transition: all 0.15s ease-in;
      transform: translateX(-0.75rem);
      &::before {
        content: "";
        flex-shrink: 0;
        position: relative;
        top: 0.56rem;
        border-radius: 50%;
        width: 0.25rem;
        height: 0.25rem;
        background-color: var(--ctf);
        transition: all 0.15s ease-in;
      }
      &:hover {
        transform: translateX(0);
        color: var(--co);
        &::before {
          background-color: var(--co);
        }
      }
      &.active {
        transform: translateX(0) !important;
        color: var(--co) !important;
        &::before {
          background-color: var(--co) !important;
        }
      }
    }
  }

  &__content {
    border-left: 0.0625rem solid var(--cgd);
    padding-top: 3rem;
    padding-left: 7.875rem;
  }
}

.policy__content {
  h3, h4, h5 .h6 {
    font-weight: normal !important;
  }

  p {
    color: var(--cg) !important;

    b, strong {
      color: var(--ct) !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .policy {
    padding: 8rem 0 7.625rem 0 !important;

    &__heading {
      justify-content: stretch;
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 1.5rem;
      padding-bottom: 2rem;
    }
    &__title {
      font-size: 3.5rem;
      line-height: 4rem;
    }
    &__update {
      font-size: 0.875rem;
      line-height: 1.42;
      margin-bottom: 0;
    }

    &__body {
      grid-template-columns: 1fr;
    }
    &__sidebar {
      background-color: var(--cw2);
      top: 6rem;
      position: sticky;
      margin: 0 -1rem;
      padding: 1.5rem 1rem;
      overflow-x: auto;
      display: flex;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 0;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
    &__tabs {
      flex: 1 1 auto;
      position: static;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
      a {
        text-wrap: nowrap;
        white-space: nowrap;
        gap: .5rem;
        &:hover {
          transform: translateX(-0.75rem);
          color: var(--ctf);
          &::before {
            background-color: var(--ctf);
          }
        }
      }
    }

    &__content {
      border-top: 0.0625rem solid var(--cgd);
      border-left: none;
      padding: 2rem 0 0 0;
    }
  }
  .policy__content {
    p {
      font-size: 0.875rem !important;
      line-height: 1.25rem !important;
    }
  }
}
