<footer class="footer">
  <div class="container">
    <div class="footer__top flex jcsb">
      <div class="footer__logo flex centerF">
        <a href="#">
          <img src="./img/icons/logo_f.svg" alt="" />
        </a>
      </div>
      <div class="logo__contact flex centerV">
        <div class="footer__text">
          Feel free to reach out if you want to collaborate with us, or simply
          have a chat.
        </div>
        <a href="mailto:contact@digitalkit.agency" class="footer__mail">
          contact@digitalkit.agency
          <span
            ><img class="contain" src="./img/icons/arrow.svg" alt=""
          /></span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer__line"></div>
  <div class="container">
    <div class="footer__center flex jcsb">
      <nav class="footer__nav">
        <ul>
          <li class="menu-item-has-children">
            <a href="#">Sitemap</a>
            <ul class="sub-menu">
              <li>
                <a href="#">Works</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">SocialMedia</a>
            <ul class="sub-menu">
              <li>
                <a href="#" target="_blank">Instagram</a>
              </li>
              <li>
                <a href="#" target="_blank">LinkedIn</a>
              </li>
              <li>
                <a href="#" target="_blank">Youtube</a>
              </li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Information</a>
            <ul class="sub-menu">
              <li>
                <a href="#">Privacy policy</a>
              </li>
              <li>
                <a href="#">Terms of use</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="footer__right flex jcsb">
        <button class="totop">Back to top</button>
        <a href="#" target="_blank" class="clutch">
          <img src="./img/icons/clutch.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__line"></div>
  <div class="container">
    <div class="footer__bottom flex jcsb centerV">
      <div class="footer__digital flex">
        Digitalkit.Agency
        <img src="./img/decor/thatsus.png" alt="">
      </div>
      <div class="qopy">Copyright © DigitalKit 2024</div>
    </div>
  </div>
</footer>
