<div class="section__gallery">
    <div class="container">
        <div class="gallery__cont">
            <div class="gallery__part">
                <img src="./img/content/caseimg_2.jpg" alt="">
            </div>
            <div class="gallery__part">
                <img src="./img/content/caseimg_3.jpg" alt="">
            </div>
            <div style="background-color: #6C57E9;" class="gallery__part half">
                <img src="./img/content/caseimg_4.png" alt="">
            </div>
            <div class="gallery__part half">
                <img src="./img/content/caseimg_5.png" alt="">
            </div>
            <div class="gallery__part">
                <img src="./img/content/caseimg_6.png" alt="">
            </div>
        </div>
    </div>
</div>