<div class="section__gallery">
  <div class="container">
    <div class="gallery__cont">
      <div class="gallery__part">
        <img src="./img/content/caseimg_2.jpg" alt="" />
      </div>
      <div class="gallery__part">
        <img src="./img/content/caseimg_3.jpg" alt="" />
      </div>
      <div style="background-color: #6c57e9" class="gallery__part half">
        <img src="./img/content/caseimg_4.png" alt="" />
      </div>
      <div class="gallery__part half">
        <img src="./img/content/caseimg_5.png" alt="" />
      </div>
      <div class="gallery__part">
        <img src="./img/content/caseimg_6.png" alt="" />
      </div>
      <div class="gallery__part video">
        <iframe
          width="1500"
          height="900"
          class="cover"
          src="https://www.youtube.com/embed/slDybGJI1Ao?si=WQ5HoetsBawSs7Sn"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
