<section class="section__review section__simple">
  <div class="container">
    <div class="review__cont">
      <div class="review__body">
        <div class="review__left">
          <div class="review__leftinner">
            <div class="review__gen">5.0</div>
            <div class="review__stars">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#" target="_blank" class="review__all">All Reviews</a>
            <a href="#" target="_blank" class="review__clutch">
              <img src="./img/content/clutch_rev.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="reviews__carousell splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="review__item splide__slide">
                <div class="revoew__top">
                  <div class="review__tag">MONAMI ADV</div>
                  <div class="review__text">
                    Working with MONAMI ADV has been a game-changer for our
                    brand. Their creativity and precision in delivering
                    advertising campaigns tailored to our audience exceeded all
                    expectations. We saw a significant increase in engagement
                    after implementing their designs.
                  </div>
                </div>
                <div class="review__bottom flex jcsb centerV">
                  <div class="review__info flex">
                    <span>John Smith</span>
                    <span>Marketing Director</span>
                  </div>
                </div>
              </li>
              <li class="review__item splide__slide">
                <div class="revoew__top">
                  <div class="review__tag">Women's Health & Care</div>
                  <div class="review__text">
                    The support I received from Women's Health & Care made all
                    the difference during my pregnancy. The professional team
                    provided essential advice and care, helping me feel
                    confident and informed every step of the way
                  </div>
                </div>
                <div class="review__bottom flex jcsb centerV">
                  <div class="review__info flex">
                    <span>Olivia Sterling</span>
                    <span>CEO</span>
                  </div>
                </div>
              </li>
              <li class="review__item splide__slide">
                <div class="revoew__top">
                  <div class="review__tag">Women's Health & Care</div>
                  <div class="review__text">
                    The support I received from Women's Health & Care made all
                    the difference during my pregnancy. The professional team
                    provided essential advice and care, helping me feel
                    confident and informed every step of the way
                  </div>
                </div>
                <div class="review__bottom flex jcsb centerV">
                  <div class="review__info flex">
                    <span>Olivia Sterling</span>
                    <span>CEO</span>
                  </div>
                </div>
              </li>
              <li class="review__item splide__slide">
                <div class="revoew__top">
                  <div class="review__tag">Women's Health & Care</div>
                  <div class="review__text">
                    The support I received from Women's Health & Care made all
                    the difference during my pregnancy. The professional team
                    provided essential advice and care, helping me feel
                    confident and informed every step of the way
                  </div>
                </div>
                <div class="review__bottom flex jcsb centerV">
                  <div class="review__info flex">
                    <span>Olivia Sterling</span>
                    <span>CEO</span>
                  </div>
                </div>
              </li>
              <li class="review__item splide__slide">
                <div class="revoew__top">
                  <div class="review__tag">Women's Health & Care</div>
                  <div class="review__text">
                    The support I received from Women's Health & Care made all
                    the difference during my pregnancy. The professional team
                    provided essential advice and care, helping me feel
                    confident and informed every step of the way
                  </div>
                </div>
                <div class="review__bottom flex jcsb centerV">
                  <div class="review__info flex">
                    <span>Olivia Sterling</span>
                    <span>CEO</span>
                  </div>
                </div>
              </li>
              <li class="review__item splide__slide">
                <div class="revoew__top">
                  <div class="review__tag">Women's Health & Care</div>
                  <div class="review__text">
                    The support I received from Women's Health & Care made all
                    the difference during my pregnancy. The professional team
                    provided essential advice and care, helping me feel
                    confident and informed every step of the way
                  </div>
                </div>
                <div class="review__bottom flex jcsb centerV">
                  <div class="review__info flex">
                    <span>Olivia Sterling</span>
                    <span>CEO</span>
                  </div>
                </div>
              </li>
              <li class="review__item splide__slide">
                <div class="revoew__top">
                  <div class="review__tag">Women's Health & Care</div>
                  <div class="review__text">
                    The support I received from Women's Health & Care made all
                    the difference during my pregnancy. The professional team
                    provided essential advice and care, helping me feel
                    confident and informed every step of the way
                  </div>
                </div>
                <div class="review__bottom flex jcsb centerV">
                  <div class="review__info flex">
                    <span>Olivia Sterling</span>
                    <span>CEO</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="splide__arrows splide__arrows--ltr">
            <button class="splide__arrow splide__arrow--prev"></button>
            <ul class="splide__pagination"></ul>
            <button class="splide__arrow splide__arrow--next"></button>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
