<section class="section__review section__simple">
  <div class="container">
    <div class="review__cont">
      <div class="review__quote"></div>
      <div class="review__body">
        <h3 class="review__name">DeHealth</h3>
        <div class="review__text short">
          Team have been a great help in creating our new brand identity. They
          have provided us guidance on every step of the way and delivered an
          outstanding final product...
        </div>
        <div class="review__bottom flex jcsb centerV">
            <div class="review__info flex">
                <span>Project Manager</span>
                <span>Olivia Sterling</span>
            </div>
            <button class="button fourth">
                Full version
            </button>
        </div>
      </div>
    </div>
  </div>
</section>
