<section class="section__services">
  <div class="container">
    <div class="servises__container flex jcsb">
      <div class="servises__left">
        <h2 class="services__title">After conducting thorough <br />researchon the competition <br /> lorem ipsum dolor sit amet</h2>
        <button class="serviceArrow arrowToBottom"></button>
      </div>
      <ul class="servises__list">
        <li>
          <div class="num"><div class="srInn">1</div></div>
          <div class="name"><div class="srInn">Services</div></div>
          <div class="text">
            <div class="srInn">
              <p>3D / Motion design / Web design</p>
            </div>
          </div>
          <div class="divid top"></div>
          <div class="divid"></div>
        </li>
        <li>
          <div class="num"><div class="srInn">2</div></div>
          <div class="name"><div class="srInn">Industries</div></div>
          <div class="text">
            <div class="srInn">
              <p>Delivery and shipping / Postal services</p>
            </div>
          </div>
          <div class="divid"></div>
        </li>
        <li>
          <div class="num"><div class="srInn">3</div></div>
          <div class="name"><div class="srInn">Challenge</div></div>
          <div class="text">
            <div class="srInn">
              <p>
                At that time, the client’s website needed some improvements in
                order to achieve a unique appearance and more manageable
                structure. In addition, DeHealth wanted to make the website
                design distinctive.
              </p>
            </div>
          </div>
          <div class="divid"></div>
        </li>
        <li>
          <div class="num"><div class="srInn">4</div></div>
          <div class="name"><div class="srInn">What we did</div></div>
          <div class="text">
            <div class="srInn">
              <p>
                After conducting thorough research on the competition, we not
                only fulfilled the client’s wish to differ from their clients
                but also kept the digital identity of the website relevant to
                its Web 3.0 nature. Moreover, we ensured that both UX and UI
                provide an intuitive user journey.
              </p>
            </div>
          </div>
          <div class="divid"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
