<section class="section__services">
  <div class="container">
    <div class="servises__container flex jcsb">
      <div class="servises__left">
        <h2>
          After conducting thorough <br />research
          <span style="color: #cdcdcd"
            >on the competition <br />lorem ipsum dolor sit amet</span
          >
        </h2>
        <a class="serviceArrow" href=""></a>
      </div>
      <ul class="servises__list">
        <li>
          <div class="num">1</div>
          <div class="name">Services</div>
          <div class="text">
            <p>3D / Motion design / Web design</p>
          </div>
        </li>
        <li>
          <div class="num">2</div>
          <div class="name">Industries</div>
          <div class="text">
            <p>Delivery and shipping / Postal services</p>
          </div>
        </li>
        <li>
          <div class="num">3</div>
          <div class="name">Challenge</div>
          <div class="text">
            <p>
              At that time, the client’s website needed some improvements in
              order to achieve a unique appearance and more manageable
              structure. In addition, DeHealth wanted to make the website design
              distinctive.
            </p>
          </div>
        </li>
        <li>
          <div class="num">4</div>
          <div class="name">What we did</div>
          <div class="text">
            <p>
              After conducting thorough research on the competition, we not only
              fulfilled the client’s wish to differ from their clients but also
              kept the digital identity of the website relevant to its Web 3.0
              nature. Moreover, we ensured that both UX and UI provide an
              intuitive user journey.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
