<li class="project__item related__item splide__slide">
  <a href="../case.html" class="coursorField"></a>
  <div class="coursor">
    <img src="./img/icons/pointer.svg" alt="" />
  </div>
  <div class="project__top">
    <a href="../case.html" class="project__img">
      <span class="project__imginner">
        <img src="./img/content/project.jpg" alt="" class="cover" />
      </span>
    </a>
    <div class="related__top flex centerV jcsb">
      <ul class="project__tags flex">
        <li>
          <span>Latest</span>
        </li>
      </ul>
      <a href="../case.html" class="case__arrow"></a>
    </div>
    <ul class="project__tags flex">
      <li>
        <span>Information Architecture Design</span>
      </li>
      <li>
        <span>User Interface Design</span>
      </li>
      <li>
        <span>Logo</span>
      </li>
      <li>
        <span>Copywriting</span>
      </li>
      <li>
        <span>Brand Identity</span>
      </li>
    </ul>
  </div>
  <a href="../case.html" class="project__name">Insource</a>
</li>
