<section class="blog">
  <div class="container">
    <div class="blog__heading">
      <h1 class="blog__title">Our blog</h1>
      <div class="blog__desc">
        <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
      </div>
    </div>

    <div class="blog__body">
      <div class="blog__categories">
        <div
          class="facetwp-facet facetwp-facet-catnews facetwp-type-radio"
          data-name="catnews"
          data-type="radio"
        >
          <div class="facetwp-radio facetwp-all checked" data-value="">All</div>
          <div
            class="facetwp-radio"
            data-value="ed7df4ea6900263dbd71bb29a2ae122b"
          >
            <span class="facetwp-display-value">UI/UX Design</span>
            <span class="facetwp-counter">(36)</span>
          </div>
          <div class="facetwp-radio" data-value="zvity">
            <span class="facetwp-display-value">Graphic design</span>
            <span class="facetwp-counter">(20)</span>
          </div>
          <div class="facetwp-radio" data-value="obid-bez-bid">
            <span class="facetwp-display-value">Branding</span>
            <span class="facetwp-counter">(20)</span>
          </div>
          <div class="facetwp-radio" data-value="trudolyub">
            <span class="facetwp-display-value">Typography</span>
            <span class="facetwp-counter">(19)</span>
          </div>
          <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
            <span class="facetwp-display-value">Illustration</span>
            <span class="facetwp-counter">(13)</span>
          </div>
          <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
            <span class="facetwp-display-value">Animation</span>
            <span class="facetwp-counter">(13)</span>
          </div>
          <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
            <span class="facetwp-display-value">Development</span>
            <span class="facetwp-counter">(13)</span>
          </div>
        </div>
      </div>

      <ul class="blog__cards">
        <li class="blog__card card">
          <div class="card__img">
            <img src="./img/content/blog_1.jpg" alt="" class="cover" />
          </div>
          <div class="card__content">
            <div class="card__heading">
              <p class="card__direction" style="background-color: #99a7ff">
                UI/UX Design
              </p>
              <p class="card__date">May 12, 2024</p>
            </div>
            <a href="#" class="card__name">
              The art typography: The correct use of fonts
            </a>
            <div class="card__text">
              <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <a href="#" class="card__more">Read more</a>
          </div>
        </li>
        <li class="blog__card card">
          <div class="card__img">
            <img src="./img/content/blog_2.jpg" alt="" class="cover" />
          </div>
          <div class="card__content">
            <div class="card__heading">
              <p class="card__direction" style="background-color: #72cc8c">
                UI/UX Design
              </p>
              <p class="card__date">May 12, 2024</p>
            </div>
            <a href="#" class="card__name">
              The art typography: The correct use of fonts
            </a>
            <div class="card__text">
              <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <a href="#" class="card__more">Read more</a>
          </div>
        </li>
        <li class="blog__card card">
          <div class="card__img">
            <img src="./img/content/blog_3.jpg" alt="" class="cover" />
          </div>
          <div class="card__content">
            <div class="card__heading">
              <p class="card__direction" style="background-color: #ff5941">
                UI/UX Design
              </p>
              <p class="card__date">May 12, 2024</p>
            </div>
            <a href="#" class="card__name">
              The art typography: The correct use of fonts
            </a>
            <div class="card__text">
              <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <a href="#" class="card__more">Read more</a>
          </div>
        </li>
      </ul>

      <div class="pagination">
      <div class="pagination__cont">
        <a href="#" class="prev"></a>
        <div>
          <div class="list">
            <div class="inner">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
            </div>
          </div>
          <span>of</span>
          <span>8</span>
        </div>
        <a href="#" class="next"></a>
      </div>
    </div>
    </div>
  </div>
</section>
