<section class="error">
  <div class="container">
    <div class="error__body">
      <div class="error__content">
        <div class="error__preloader">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1 class="error__title">Pixel Perfect Path Lost</h1>
        <div class="error__text">
          <p>There's not much here, so we can go back.</p>
        </div>
        <button type="button" class="button">Back to home</button>
      </div>

      <div class="error__mess">
        <div class="mess mess_1">
          <div class="mess__user">
            <span>Y</span>
          </div>
          <div class="mess__info">
            <div class="mess__heading">
              <p class="mess__name">Yehor</p>
              <span class="mess__time">just now</span>
            </div>
            <div class="mess__text">
              <p>Alright</p>
            </div>
          </div>
        </div>
        <div class="mess mess_2">
          <div class="mess__user">
            <span>A</span>
          </div>
          <div class="mess__info">
            <div class="mess__heading">
              <p class="mess__name">Anatoliy</p>
              <span class="mess__time">just now</span>
            </div>
            <div class="mess__text">
              <p>I have few words!</p>
            </div>
          </div>
        </div>
        <div class="mess mess_3">
          <div class="mess__user">
            <span>M</span>
          </div>
          <div class="mess__info">
            <div class="mess__heading">
              <p class="mess__name">Maryna</p>
              <span class="mess__time">just now</span>
            </div>
            <div class="mess__text">
              <p>Let’s fix it!</p>
            </div>
          </div>
        </div>
        <div class="mess mess_4">
          <div class="mess__user">
            <span>S</span>
          </div>
          <div class="mess__info">
            <div class="mess__heading">
              <p class="mess__name">Sasha</p>
              <span class="mess__time">just now</span>
            </div>
            <div class="mess__text">
              <p>I have some ideas</p>
            </div>
          </div>
        </div>
        <div class="mess mess_5">
          <div class="mess__user">
            <span>M</span>
          </div>
          <div class="mess__info">
            <div class="mess__heading">
              <p class="mess__name">Maria</p>
              <span class="mess__time">just now</span>
            </div>
            <div class="mess__text">
              <p>Need help?</p>
            </div>
          </div>
        </div>
        <div class="mess mess_6">
          <div class="mess__user">
            <span>A</span>
          </div>
          <div class="mess__info">
            <div class="mess__heading">
              <p class="mess__name">Artem</p>
              <span class="mess__time">just now</span>
            </div>
            <div class="mess__text">
              <p>I’m watching u</p>
            </div>
          </div>
        </div>
        <div class="mess mess_7">
          <div class="mess__user">
            <span>S</span>
          </div>
          <div class="mess__info">
            <div class="mess__heading">
              <p class="mess__name">Serhii</p>
              <span class="mess__time">just now</span>
            </div>
            <div class="mess__text">
              <p>Let’s do it</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
