body {
    &.red {
        .sg1 {
            opacity: 0;
        }
        .sg2 {
            opacity: 1;
        }

        .prtns__item {
            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.section__partners {
    position: relative;
    overflow: hidden;

    .hrcont {
        padding-top: 3rem;
        position: relative;
    }

    .section__title {
        padding-top: 3rem;
    }
}

.partners__cont {
    margin-top: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.scroll {
    gap: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;

    &:hover {
        & > div {
            animation-play-state: paused !important;
        }
    }

    & > div {
        gap: 1rem;
        white-space: nowrap;
        flex-wrap: nowrap;
        display: flex;
        will-change: transform;

        img {
            transition: 0.1s;
        }
    }
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes animateR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate2R {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.prtns__item {
    width: 20rem;
    height: 8rem;
    position: relative;
}

.partners__sh {
    min-width: 90rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.1s;

    &::after,
    &::before {
        width: 6rem;
        height: 21rem;
        bottom: 0;
        display: block;
        position: absolute;
        content: "";
    }

    &::before {
        left: -1px;
    }

    &::after {
        right: -1px;
    }

    &.sg1 {
        opacity: 1;
        &::before {
            background: linear-gradient(90deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%);
        }

        &::after {
            background: linear-gradient(90deg, rgba(249, 249, 249, 0) 0%, #f9f9f9 100%);
        }
    }

    &.sg2 {
        opacity: 0;
        &::before {
            background: linear-gradient(90deg, #ff5941 0%, rgba(255, 89, 65, 0) 100%);
        }

        &::after {
            background: linear-gradient(90deg, rgba(255, 89, 65, 0) 0%, #ff5941 100%);
        }
    }
}

@media screen and (max-width: 960px) {
    .section__partners {
        .section__title {
            padding-top: 1.5rem;
        }
    }
    .partners__cont {
        margin-top: 2rem;
        .hrcont {
            padding-top: 2rem;
        }
    }
    .scroll {
        gap: 1rem;
    }
    .prtns__item {
        width: 8.25rem;
        height: 4.5rem;
        img {
            width: 10.25rem;
        }
    }
    .partners__sh {
        min-width: inherit;
        &::after,
        &::before {
            width: 6rem;
            height: 15rem;
        }
    }
}
