.button__arrow {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.9647 17.4975L19.9005 8.4339L23.4359 4.89825L36.7686 18.23L36.7686 21.7656L23.4337 35.1005L19.8982 31.565L28.9656 22.4975L5.00001 22.4963L5.00026 17.4963L28.9647 17.4975Z' fill='black'/%3E%3C/svg%3E");
    background-position: 0 0;
    transition: 0.3s;

    &:hover {
        background-position: 2.5rem 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.9647 17.4975L19.9005 8.4339L23.4359 4.89825L36.7686 18.23L36.7686 21.7656L23.4337 35.1005L19.8982 31.565L28.9656 22.4975L5.00001 22.4963L5.00026 17.4963L28.9647 17.4975Z' fill='%23FF5941'/%3E%3C/svg%3E");
    }
}

.projects__list {
    padding-top: 1.5rem;
    gap: 1rem;
    row-gap: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 960px) {
    .section__projects {
        .coursor {
            display: none !important;
        }
    }
    .button__arrow {
        width: 2rem;
        height: 2rem;
        background-position: 0 0 !important;
    }
    .projects__list {
        gap: 1rem;
        row-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .projects__list {
        grid-template-columns: 1fr;
    }
}
