.section__tabs {
    padding: 4rem 0;
    background-color: var(--cb);
    position: relative;
    overflow: hidden;
}

.tabs__continner {
    transform: scale(90%);
}

.tavs__shadow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);
    height: 100px;
    z-index: 20;
    box-shadow: 0px 7.125em 7.125em 0px rgba(0, 0, 0, 0.2);
}

.tabs__ctrllist {
    li {
        button {
            min-width: 17.5rem;
            padding: 1.25rem 1.5rem;
            border-radius: 1rem 1rem 0 0;
            gap: 1rem;
            color: var(--cg);
            font-weight: 600;
            display: inline-flex;
            background-color: var(--cgd);
            justify-content: space-between;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;
            white-space: nowrap;
            position: relative;
            transition: 0.3s;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }

            &.active {
                background-color: var(--cw) !important;
                color: var(--co);

                span:last-child {
                    border-color: var(--co);
                }
            }

            span:last-child {
                border: 1px solid var(--cg);
                border-radius: 2rem;
                height: 1.5rem;
                padding: 0 0.75rem;
                display: inline-flex;
                align-items: center;
                align-items: center;
                transition: 0.3s border-cplor;
            }
        }

        &:nth-child(even) {
            button {
                background-color: var(--cgl);
            }
        }
    }
}

.tabs__cont {
    .tab {
        min-height: 34.875rem;
        gap: 3rem;
        padding: 3rem;
        padding-right: 15.5rem;
        border-radius: 0 0 1.5rem 1.5rem;
        background-color: var(--cw);
        flex-direction: column;
        justify-content: space-between;
        display: none;
        position: relative;

        &.active {
            display: flex;
        }

        h2 {
            font-size: 6rem;
            line-height: 6.5rem;
            font-weight: 500;
        }

        p {
            max-width: 38.375rem;
            font-size: 1.5rem;
            line-height: 2rem;
            color: var(--cg);
        }

        .tab__img {
            right: 3rem;
            bottom: 3rem;
            height: 15.5rem;
            position: absolute;

            img {
                height: 100%;
                width: auto;
                display: block;
            }
        }

        &.secondary {
            padding-left: 5rem;
            padding-right: 8rem;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            align-content: center;

            .tab__left {
                max-width: 30rem;

                .tab__img {
                    display: none;
                }
            }

            h2 {
                font-size: 3rem;
                line-height: 3.5rem;
            }

            p {
                margin-top: 1rem;
                font-size: 1rem;
                line-height: 1.5;
                max-width: inherit;
            }

            .button {
                margin-top: 4rem;
            }

            .tab__img {
                width: 18.8125rem;
                height: auto;
                position: static;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.tabs__tags {
    gap: 0.5rem;
    margin-top: 2rem;

    li {
        span,
        a {
            font-size: 1.125rem;
            line-height: 1.5rem;
            padding: 0.5rem 1.5rem;
            border-radius: 2rem;
            border: 1px solid var(--cgl);
            background-color: var(--cw2);
            display: inline-flex;
        }
    }
}

@media screen and (max-width: 960px) {
    .section__tabs {
        padding: 2rem 0;
    }
    .tabs__continner {
        transform: scale(1) !important;
        display: flex;
    }
    .tavs__shadow {
        display: none;
    }
    .tabs__ctrllist {
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        li {
            height: 100%;
            button {
                height: 100%;
                min-width: 2.5rem;
                width: 2.5rem;
                padding: 1rem 0.5rem;
                font-size: 0.75rem;
                line-height: 1.5rem;
                border-radius: 1rem 0 0 1rem;
                flex-direction: column-reverse;
                span {
                    &:first-child {
                        writing-mode: vertical-rl;
                        text-orientation: mixed;
                        transform: rotate(180deg);
                    }
                }
                span:last-child {
                    padding: 0.37rem 0;
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    transform: rotate(180deg);
                    height: 2rem;
                    width: 1.5rem;
                    justify-content: center;
                }
            }
        }
    }
    .tabs__cont {
        width: 100%;
        .tab {
            width: 100%;
            min-height: 34.5rem;
            gap: 3rem;
            padding: 2rem 1.5rem;
            border-radius: 0rem 0.75rem 0.75rem 0rem;
            h2 {
                font-size: 1.75rem;
                line-height: 2.25rem;
            }
            p {
                max-width: inherit;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
            .tab__img {
                position: static;
                height: 11.55rem;
                width: 16rem;
                display: flex;
                justify-content: center;
            }
            &.secondary {
                padding: 1.5rem;
                justify-content: space-between;
                flex-direction: column;
                .tab__left {
                    min-height: 31.5rem;
                    width: 100%;
                    max-width: inherit;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .tab__img {
                        display: flex;
                    }
                }
                h2 {
                    font-size: 1.75rem;
                    line-height: 2.25rem;
                }
                p {
                    font-size: 0.875rem;
                }
                .button {
                    margin-top: 1.5rem;
                    max-width: 16rem;
                    width: 100%;
                }
                .tab__img {
                    margin-top: 1.5rem;
                    display: none;
                    width: 16rem;
                    height: 7.95rem !important;
                    height: auto;
                    position: static;
                    justify-content: center;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
    .tabs__tags {
        gap: 0.25rem;
        margin-top: 2.25rem;

        li {
            span,
            a {
                font-size: 0.875rem;
                padding: 0.25rem 0.75rem;
            }
        }
    }
}
