.section__together {
    margin-top: 4.5rem;
    padding-top: 6rem;
    background-color: var(--co);
    transition: 0.3s;
    overflow: hidden;
    padding-bottom: 0 !important;

    &.white {
        background-color: var(--cw2);

        * {
            color: var(--ct);
        }

        .thirty {
            border-color: var(--ct);
        }

        .secondary {
            background-color: var(--ct);
            color: var(--cw2);
        }

        .together__img {
            img {
                &:first-child {
                    opacity: 1;
                }

                &:last-child {
                    opacity: 0;
                }
            }
        }
    }
}

.together__cont {
    padding: 7.5rem 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.together__img {
    height: 11.25rem;
    width: 8rem;
    position: relative;
    transform-origin: bottom center;
    animation: moveAndRotate 4s infinite;

    img {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        transform: translateX(-50%);
        display: block;
        height: 100%;
        height: auto;
        transition: 0.3s;

        &:first-child {
            opacity: 0;
        }
    }
}

@keyframes moveAndRotate {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
}

.tohether__title {
    font-size: 6rem;
    line-height: 6.5rem;
    margin-top: 2.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--cw);
    transition: 0.3s;
}

.together__buttons {
    margin-top: 2rem;
    gap: 1.5rem;
    align-items: center;
    align-content: center;
    justify-content: center;

    .button {
        min-width: 13rem;
        transition: 0.3s;
    }
}


@media screen and (max-width: 960px) {
    .section__together {
        margin-top: 4rem;
        padding-top: 0;
    }
    .together__cont {
        padding: 9rem 0;
    }
    .tohether__title {
        font-size: 3.5rem;
        line-height: 4rem;
        margin-top: 2rem;
    }
    .together__buttons {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 640px) {
    .together__buttons {
        max-width: 21.5rem;
        width: 100%;
        flex-direction: column;
        .button {
            width: 100%;
            min-width: inherit;
        }
    }
}