body {
    &.red {
        .section__together {
            background-color: var(--co);

            * {
                color: var(--cw2);
            }

            .fourth {
                border-color: var(--cw2);
                color: var(--cw2);
            }

            .sixth {
                background-color: var(--cw2);
                color: var(--ct);
            }

            .together__img {
                img {
                    &:first-child {
                        opacity: 0;
                    }

                    &:last-child {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.section__together {
    background-color: var(--cw2);
    transition: 0.1s;
    overflow: hidden;
    padding-bottom: 0 !important;

    * {
        color: var(--ct);
    }

    .tohether__title {
        &:first-child {
            margin: 0;
        }
    }
}

.together__cont {
    padding: 7.5rem 0;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.together__img {
    height: 11.25rem;
    width: 8rem;
    position: relative;
    transform-origin: bottom center;
    animation: moveAndRotate 4s infinite;

    img {
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        transform: translateX(-50%);
        display: block;
        height: 100%;
        height: auto;
        transition: 0.1s;
        opacity: 0;

        &:first-child {
            opacity: 1;
        }
    }
}

@keyframes moveAndRotate {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
}

.tohether__title {
    font-size: 6rem;
    line-height: 6.5rem;
    margin-top: 2.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--ct);
    transition: 0.1s;
}

.together__buttons {
    margin-top: 2rem;
    gap: 1.5rem;
    align-items: center;
    align-content: center;
    justify-content: center;

    .button {
        min-width: 13rem;
        transition: 0.1s;
    }

    &.biggerMargin {
        margin-top: 2.5rem;
    }
}

@media screen and (max-width: 960px) {
    .section__together {
        padding-top: 0;
    }
    .together__cont {
        padding: 9rem 0;
    }
    .tohether__title {
        font-size: 3.5rem;
        line-height: 4rem;
        margin-top: 2rem;
    }
    .together__buttons {
        margin-top: 4rem;

        &.biggerMargin {
            margin-top: 5.5rem;
        }
    }
}

@media screen and (max-width: 640px) {
    .together__buttons {
        max-width: 21.5rem;
        width: 100%;
        flex-direction: column;
        .button {
            width: 100%;
            min-width: inherit;
        }
    }
}
