<section class="section__accordeon section__simple">
  <ul class="accordeon__list accordeonStart">
    <li class="ac">
      <div class="container">
        <h2 class="ac-header">
          <div class="ac-trigger">01. Dive deep</div>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <div class="accordeon__res flex">
              <div class="acc__left">
                We immerse ourselves <br />in the product
              </div>
              <div class="acc__right">
                <p>
                  Speak the industry's language, and ensure our work hits the
                  mark by delving deep into market research, understanding
                  consumer needs, and leveraging our expertise to deliver
                  innovative solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="ac">
      <div class="container">
        <h2 class="ac-header">
          <div class="ac-trigger">02. Structure</div>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <div class="accordeon__res flex">
              <div class="acc__left">
                We immerse ourselves <br />in the product
              </div>
              <div class="acc__right">
                <p>
                  Speak the industry's language, and ensure our work hits the
                  mark by delving deep into market research, understanding
                  consumer needs, and leveraging our expertise to deliver
                  innovative solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="ac">
      <div class="container">
        <h2 class="ac-header">
          <div class="ac-trigger">03. Deliver</div>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <div class="accordeon__res flex">
              <div class="acc__left">
                We immerse ourselves <br />in the product
              </div>
              <div class="acc__right">
                <p>
                  Speak the industry's language, and ensure our work hits the
                  mark by delving deep into market research, understanding
                  consumer needs, and leveraging our expertise to deliver
                  innovative solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="ac">
      <div class="container">
        <h2 class="ac-header">
          <div class="ac-trigger">04. Care</div>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <div class="accordeon__res flex">
              <div class="acc__left">
                We immerse ourselves <br />in the product
              </div>
              <div class="acc__right">
                <p>
                  Speak the industry's language, and ensure our work hits the
                  mark by delving deep into market research, understanding
                  consumer needs, and leveraging our expertise to deliver
                  innovative solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
