<section class="section__approach section__simple">
  <div class="container">
    <ul class="approach__list">
      <li class="approach__item app1">
        <div class="approach__main">
          <div class="approach__top">
            <div class="approach__info">
              <p>Lorem ipsum</p>
              <h2>What we do</h2>
            </div>
            <div class="approach__hand">
              <img src="./img/icons/hend_2.gif" alt="" />
            </div>
          </div>
          <div class="approach__text">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit.
            </p>
          </div>
        </div>
        <ul class="approach__tags">
          <li>Full cycle design</li>
          <li>Custom Branding and Identity Design</li>
          <li>User Experience (UX) and User Interface (UI) Design</li>
          <li>Graphic Design, Illustration and Artwork</li>
          <li>Packaging Design</li>
          <li>Looking for Good Anime Title</li>
        </ul>
      </li>
      <li class="approach__item app2">
        <div class="approach__main">
          <div class="approach__top">
            <div class="approach__info">
              <p>Lorem ipsum</p>
              <h2>What we don’t</h2>
            </div>
            <div class="approach__hand">
              <img src="./img/icons/hend_1.gif" alt="" />
            </div>
          </div>
          <div class="approach__text">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit.
            </p>
          </div>
        </div>
        <ul class="approach__tags">
          <li>“Viral” stuff</li>
          <li>Design for design</li>
          <li>Ctrl+C Ctrl+V</li>
          <li>Betting, dating, gambling</li>
          <li>Move object 2,5px to the left then undo</li>
          <li>Golf</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
