<section class="section__talent noAnim">
  <div class="container">
    <div class="talent__content">
      <div class="talent__images">
        <div class="talant__imginner">
          <div class="talent__imgmover">
            <div class="talent__image img_1">
              <img src="./img/content/talent_1.jpg" alt="" />
            </div>
            <div class="talent__image img_2">
              <img src="./img/content/talent_2.jpg" alt="" />
            </div>
            <div class="clearfix"></div>
            <div class="talent__image img_3">
              <img src="./img/content/talent_3.jpg" alt="" />
            </div>
            <div class="talent__image biggerRad img_4">
              <img src="./img/content/talent_4.jpg" alt="" />
            </div>
            <div class="clearfix"></div>
            <div class="talent__image img_5">
              <img src="./img/content/talent_5.jpg" alt="" />
            </div>
            <div class="talent__image img_7">
              <img src="./img/content/talent_7.jpg" alt="" />
            </div>
            <div class="talent__image img_6">
              <img src="./img/content/talent_6.jpg" alt="" />
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="talent__full">
        <div class="tallent__inner">
          <h2 class="talent__title">Talented and ambitious, focused and intelligent, adjective loving lads</h2>
        </div>
      </div>
    </div>
  </div>
</section>
