<section class="section__team section__simple">
  <div class="container">
    <div class="section__title">
      <h2>Meet our team</h2>
      <a href="#" class="button fourth">Join us</a>
    </div>
    <div class="team__carousell splide">
        <div class="splide__track">
            <ul class="team__list splide__list">
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_1.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Marina Volokhova</h3>
                        <p>Creative lead</p>
                    </div>
                </li>
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_2.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Artem Bardusov</h3>
                        <p>Marketing developer</p>
                    </div>
                </li>
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_3.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Oleksandra Liadetska</h3>
                        <p>Graphic Designer</p>
                    </div>
                </li>
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_4.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Serhii Sementsov</h3>
                        <p>UI|UX designer</p>
                    </div>
                </li>
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_5.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Yehor Kabak</h3>
                        <p>UI|UX designer</p>
                    </div>
                </li>
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_6.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Maria Metlenko</h3>
                        <p>Creative Copywriter</p>
                    </div>
                </li>
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_7.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Anatoliy Satsiuk</h3>
                        <p>Creative Copywriter</p>
                    </div>
                </li>
                <li class="team__item splide__slide">
                    <div class="team__img">
                        <img src="./img/content/team_8.jpg" alt="" class="cover">
                    </div>
                    <div class="team__info">
                        <h3>Vasyl Pastushenko</h3>
                        <p>Tech savvy</p>
                    </div>
                </li>
            </ul>
        </div>
      </div>
      <div class="section__bottom">
        <a href="#" class="button fourth">Join us</a>
      </div>
  </div>
</section>
