.section__service {
    position: relative;
    overflow: hidden;
}

.service__content {
    padding-top: 8rem;
    padding-bottom: 3.38rem;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;

    h1 {
        font-size: 8.25rem;
        line-height: 1;
        br {
            display: none;
        }
    }
}

.service__bottom {
    margin-top: 2.5rem;
}

.service__tag {
    padding: 0.5rem 1.75rem;
    padding-right: 0.8rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--ct);
    font-weight: 600;
    position: relative;
    background-color: var(--cw);
    position: relative;
    z-index: 50;

    &::before {
        width: 1rem;
        height: 1rem;
        top: 0.5rem;
        left: 0.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 13.3333L8 2.66659' stroke='%23FF5941' stroke-width='1.66667'/%3E%3Cpath d='M4.22925 11.7715L11.7717 4.22901' stroke='%23FF5941' stroke-width='1.66667'/%3E%3Cpath d='M11.7715 11.7715L4.22901 4.22901' stroke='%23FF5941' stroke-width='1.66667'/%3E%3Cpath d='M2.66675 8H13.3334' stroke='%23FF5941' stroke-width='1.66667'/%3E%3C/svg%3E");
    }
}

.service__arrow {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    position: relative;
    z-index: 50;
    background-position: center center;
    transform: rotate(-45deg) translateZ(0);
    background-size: cover;
    background-repeat: repeat-x;
    transition: .3s;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 3.51465L3.51472 11.9999M3.51472 11.9999L12 20.4852M3.51472 11.9999H20.4853' stroke='%23191919' stroke-width='3' stroke-linejoin='bevel'/%3E%3C/svg%3E");

    &:hover {
        transform: rotate(-90deg) translateZ(0);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 3.51465L3.51472 11.9999M3.51472 11.9999L12 20.4852M3.51472 11.9999H20.4853' stroke='%23FF5941' stroke-width='3' stroke-linejoin='bevel'/%3E%3C/svg%3E");
    }
}


@media screen and (max-width: 960px) {
    .service__content {
        padding-bottom: 4.44rem;
        h1 {
            font-size: 10vw;
        }
    }
    .service__tag {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}


@media screen and (max-width: 640px) {
    .service__content {
        h1 {
            font-size: 3.5rem;
            line-height: 4rem;
            br {
                display: block;
            }
        }
    }
    .service__tag {
        width: 100%;
    }
    .service__arrow {
        display: none;
    }
}