.section__related {
    overflow: hidden;
}

.related__heading {
    padding-right: 10rem;
}

.related__carousell {
    margin-top: 2rem;
    position: relative;

    .splide__track {
        overflow: visible;
    }

    .splide__arrows {
        top: -2rem;
        gap: 1rem;
        transform: translateY(-100%);
        position: absolute;
        right: 0;
        display: flex;

        .splide__arrow {
            width: 3.5rem;
            height: 3.5rem;
            background-size: 1.5rem;
            border: 1px solid var(--cgd);
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            position: static;
            opacity: 1 !important;
            background-color: transparent;
            transform: none;

            &:hover {
                background-color: var(--cgl);
                border-color: var(--cgl);
            }

            &[disabled] {
                background-color: var(--fw);
                border-color: var(--cgd);
                opacity: 0.5 !important;
                cursor: inherit;
            }

            svg {
                display: none;
            }

            &.splide__arrow--prev {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15.3641 18.7272L9.00011 12.3633L15.3641 5.99932' stroke='%23191919' stroke-width='2' stroke-linejoin='bevel'/%3E%3C/svg%3E");
            }

            &.splide__arrow--next {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M8.61396 18.7272L14.9779 12.3633L8.61396 5.99932' stroke='%23191919' stroke-width='2' stroke-linejoin='bevel'/%3E%3C/svg%3E");
            }
        }
    }
}

.splide__slide {
    border: none !important;
}

.related__top {
    display: none;
}

@media screen and (max-width: 960px) {
    .related__heading {
        padding-right: 5.5rem;
        padding: 0;
    }
    .related__carousell {
        padding-bottom: 4.5rem;
        .splide__arrows {
            top: inherit;
            bottom: 0;
            left: 0;
            justify-content: flex-end;
            transform: none;
            .splide__arrow {
                width: 3rem;
                height: 3rem;
                background-size: 1.28569rem;
            }
            &::before {
                right: 8.5rem;
                height: 1px;
                background-color: var(--cgd);
                left: 0;
                top: 50%;
                content: "";
                position: absolute;
            }
        }
    }
    .related__item {
        .project__img {
            background-color: var(--cy);
            padding-top: calc(93.9vw / 2);
            img {
                top: 5%;
                transform: translateX(-50%) translateY(0);
                object-fit: contain;
                height: auto;
            }
        }
    }
    .splide__slide {
        border: none !important;
    }
    .related__top {
        top: 1rem;
        left: 1rem;
        right: 1rem;
        display: flex;
        position: absolute;
        z-index: 5;
        .project__tags {
            position: static;
        }
    }
}

@media screen and (max-width: 640px) {
    .related__item {
        .project__img {
            padding-top: 93.9vw;
            img {
                top: 4%;
            }
        }
    }
}
