.section__related {
    padding-bottom: 2.5rem;
    overflow: hidden;

    & + .section__simple {
        margin-top: 10rem;
    }
}

.related__heading {
    padding-right: 10rem;
}

.related__carousell {
    margin-top: 2rem;
    position: relative;

    .splide__track {
        overflow: visible;
    }

    .splide__slide {
        border: none !important;
    }
}

.related__top {
    display: none;
}

@media screen and (max-width: 960px) {
    .section__related {
        padding-bottom: 0;
        overflow: hidden;
        & + .section__simple {
            margin-top: 5.5rem;
        }
    }
    .related__heading {
        padding-right: 5.5rem;
        padding: 0;
    }
    .related__carousell {
        padding-bottom: 4.5rem;
    }
    .related__item {
        .project__img {
            background-color: var(--cy);
            padding-top: calc(93.9vw / 2);
            img {
                top: 5%;
                transform: translateX(-50%) translateY(0);
                object-fit: contain;
                height: auto;
            }
        }
    }
    .splide__slide {
        border: none !important;
    }
    .related__top {
        top: 1rem;
        left: 1rem;
        right: 1rem;
        display: flex;
        position: absolute;
        z-index: 5;
        .project__tags {
            position: static;
        }
    }
}

@media screen and (max-width: 640px) {
    .related__item {
        .project__img {
            padding-top: 93.9vw;
            img {
                top: 4%;
            }
        }
    }
}
