.section__services {
    margin-top: 5rem;
}

.servises__left {
    max-width: 34rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .serviceArrow {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 2.5rem;
        transform: rotate(45deg);
        background-position: 0 0;
        background-repeat: repeat-x;
        background-size: contain;
        transition: .3s;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 5.85791L34.1421 20M34.1421 20L20 34.1422M34.1421 20H5.85786' stroke='%23FF5941' stroke-width='5' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A");
        &:hover {
            background-position: 2.5rem 0;
        }
    }
}

.servises__list {
    max-width: 41rem;
    width: 100%;
    border-top: 1px solid var(--cgd);

    li {
        padding: 1.5rem 0;
        gap: 0.75rem;
        border-bottom: 1px solid var(--cgd);
        display: flex;
        flex-wrap: wrap;

        .num {
            font-size: 0.875rem;
            line-height: 1.5rem;
            width: 2rem;
            height: 1.5rem;
            border-radius: 1rem;
            font-weight: 600;
            border: 1px solid var(--co);
            color: var(--co);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        .name {
            width: calc(100% - 2.75rem);
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 600;
        }

        .text {
            font-size: 1rem;
            line-height: 1.5rem;
            padding-left: 2.75rem;
            width: 100%;
            color: var(--cg);
        }
    }
}


@media screen and (max-width: 960px) {
    .section__services {
        margin-top: 3rem;
    }
    .servises__left {
        max-width: inherit;
        width: 100%;
        h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            * {
                color: var(--ct) !important;
            }
        }
        .serviceArrow {
            display: none;
        }
    }
    .servises__list {
        margin-top: 1.5rem;
        max-width: inherit;
        li {
            row-gap: .5rem;
            .num {
                font-size: 0.75rem;
                line-height: 1rem;
                border-radius: 1rem;
            }
            .text {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }
}