.section__cases {
    padding-top: 12rem;
}

.cases__list {
    margin-top: 6rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    .section__cases {
        padding-top: 9.75rem;
    }
    .cases__list {
        margin-top: 4rem;
        gap: 2rem;
    }
}