.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
}

.header__content {
    height: 5.5rem;
}

.header_part {
    min-width: 12.75rem;
    gap: 1rem;
}

.logo__cont {
    height: 2.5rem;
    width: 9rem;
    position: relative;
    transition: .5s;

    &.scroled {
        width: 2.5rem;

        .custom-logo-link {
            right: 2.5rem;
            opacity: 0;
        }

        .logo__sm {
            width: 100%;
            height: 100%;
        }
    }
}

.custom-logo-link {
    min-width: 7.884rem;
    width: 7.884rem;
    min-height: 2.102rem;
    height: 2.102rem;
    right: 1.13em;
    position: absolute;
    bottom: 0;
    display: block;
    opacity: 1;
    transition: .5s;

    img {
        min-width: 7.884rem;
        min-height: 2.102rem;
        width: 7.884rem;
        height: 2.102rem;
        height: auto;
        display: block;
        height: auto;
    }
}

.logo__sm {
    width: 1.065rem;
    height: 1.065rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: .5s;

    img {
        width: 100%;
        height: 100%;
        transition: .5s;
    }
}

.header__nav {
    padding: 0.25rem;
    border-radius: 16rem;
    background-color: var(--cgl);
    background: linear-gradient(180deg, rgba(241, 241, 241, 0.7) 0%, rgba(241, 241, 241, 0.64) 100%);
    backdrop-filter: blur(0.375rem);

    ul {
        display: flex;

        li {
            a {
                height: 3rem;
                min-width: 6rem;
                padding: 0 1rem;
                font-size: 0.875rem;
                line-height: 1.5rem;
                border-radius: 16rem;
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                color: var(--ct);
                transition: 0.3s;
            }

            &.current-menu-item {
                a {
                    background-color: var(--cw);
                    color: var(--co);
                }
            }
        }
    }
}

.header__lang {
    ul {
        gap: 0.25rem;
        display: flex;
        align-items: center;
        align-content: center;

        li {
            a {
                height: 3rem;
                min-width: 4.5rem;
                padding: 0 1rem;
                border-radius: 3rem;
                border: 1px solid var(--cgl);
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                color: var(--ct);
                transition: 0.3s;

                &.current-menu-item {
                    a {
                        background-color: var(--cw);
                        color: var(--co);
                    }
                }
            }
        }
    }
}

.header__burger {
    display: none;
}

@media screen and (max-width: 960px) {
    .header__content {
        padding-top: 3.25rem;
        padding-bottom: 1.5rem;
        height: inherit;
    }
    .header_part {
        min-width: inherit;
        .button {
            display: none;
        }
    }
    .custom-logo-link {
        max-width: 7.1875rem;
    }
    .header__nav {
        display: none;
    }
    .header__lang {
        display: none;
    }

    .header__burger {
        width: 4.5rem;
        height: 3rem;
        background-color: var(--cgl);
        display: block;
        position: relative;
        border-radius: 2rem;

        &.noAct {
            span {
                animation: none !important;
            }
        }

        &.opened {
            span {
                &:nth-child(1) {
                    animation: spanTS 0.6s forwards;
                }

                &:nth-child(2) {
                    animation: spanMS 0.6s forwards;
                }

                &:nth-child(3) {
                    animation: spanBS 0.6s forwards;
                }
            }
        }

        span {
            height: 0.188rem;
            width: 1.313rem;
            background-color: var(--ct);
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transition: 0.3s;

            &:nth-child(1) {
                transform: translate(-50%, -0.5rem) rotate(0);
                transform-origin: center center;
                animation: spanTE 0.5s forwards;
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(0);
                animation: spanME 0.5s forwards;
            }

            &:nth-child(3) {
                transform: translate(-50%, 0.34rem) rotate(0);
                animation: spanBE 0.5s forwards;
            }
        }
    }
}

@keyframes spanTS {
    0% {
        transform: translate(-50%, -0.5rem) rotate(0deg);
        transform-origin: top left;
    }
    25% {
        transform: translate(-50%, -0.5rem) rotate(-10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center center;
    }
}

@keyframes spanTE {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center center;
    }
    100% {
        transform: translate(-50%, -0.5rem) rotate(0deg);
        transform-origin: top left;
    }
}

@keyframes spanBS {
    0% {
        transform: translate(-50%, 0.34rem) rotate(0deg);
        transform-origin: top left;
    }
    25% {
        transform: translate(-50%, 0.34rem) rotate(10deg);
    }
    100% {
        bottom: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transform-origin: center center;
    }
}

@keyframes spanBE {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
        transform-origin: center center;
    }
    100% {
        transform: translate(-50%, 0.34rem) rotate(0deg);
        transform-origin: top left;
    }
}

@keyframes spanMS {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spanME {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
