.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
}

body:not(.overHideMob).red {
    .header {
        .logo__sm {
            img {
                filter: brightness(0) invert(1);
            }
        }

        .button {
            background-color: var(--cw);
            color: var(--co);
        }
    }
}

.header__content {
    height: 5.5rem;
}

.header_part {
    min-width: 12.75rem;
    gap: 1rem;
}

.logo__cont {
    height: 2.5rem;
    width: 9rem;
    position: relative;
    transition: 0.5s;

    &.scroled {
        width: 2.5rem;

        .custom-logo-link {
            right: 2.5rem;
            opacity: 0;
        }

        .logo__sm {
            width: 100%;
            height: 100%;
        }
    }
}

.custom-logo-link {
    min-width: 7.884rem;
    width: 7.884rem;
    min-height: 2.102rem;
    height: 2.102rem;
    right: 1.13em;
    position: absolute;
    bottom: 0;
    display: block;
    opacity: 1;
    transition: 0.5s;

    img {
        min-width: 7.884rem;
        min-height: 2.102rem;
        width: 7.884rem;
        height: 2.102rem;
        height: auto;
        display: block;
        height: auto;
    }
}

.logo__sm {
    width: 1.065rem;
    height: 1.065rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;

    img {
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }
}

.header__nav {
    padding: 0.25rem;
    border-radius: 16rem;
    background-color: var(--cgl);
    background: linear-gradient(180deg, rgba(241, 241, 241, 0.7) 0%, rgba(241, 241, 241, 0.64) 100%);
    backdrop-filter: blur(0.375rem);

    ul {
        display: flex;

        li {
            a {
                height: 3rem;
                min-width: 6rem;
                padding: 0 1rem;
                font-size: 0.875rem;
                line-height: 1.5rem;
                border-radius: 16rem;
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                color: var(--ct);
                transition: 0.3s;
            }

            &.current-menu-item {
                a {
                    background-color: var(--cw);
                    color: var(--co);
                }
            }
        }
    }
}

.header__lang {
    ul {
        gap: 0.25rem;
        display: flex;
        align-items: center;
        align-content: center;

        li {
            a {
                height: 3rem;
                min-width: 4.5rem;
                padding: 0 1rem;
                border-radius: 3rem;
                border: 1px solid var(--cgl);
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                color: var(--ct);
                transition: 0.3s;
                background-color: var(--cw2);

                &.current-menu-item {
                    a {
                        background-color: var(--cw);
                        color: var(--co);
                    }
                }
            }
        }
    }
}

.header__burger {
    display: none;
}

.openNavDesc {
    display: none;
}

@media screen and (min-width: 961px) {
    body:not(.homePage) {
        .header__nav {
            transition: 0.6s;
            width: 30.5rem;
            overflow: hidden;
            position: relative;
            backdrop-filter: unset !important;
            background-color: var(--cgl) !important;
            ul {
                transition: 0.6s;
                li {
                    min-width: 6rem;
                    transition: 0.6s;
                    &.current-menu-item {
                        opacity: 1 !important;
                        a {
                            position: absolute;
                            transition: 0.6s;
                        }
                    }
                    &:nth-child(1) {
                        a {
                            right: calc(6rem * 4 + 0.25rem);
                        }
                    }
                    &:nth-child(2) {
                        a {
                            right: calc(6rem * 3 + 0.25rem);
                        }
                    }
                    &:nth-child(3) {
                        a {
                            right: calc(6rem * 2 + 0.25rem);
                        }
                    }
                    &:nth-child(4) {
                        a {
                            right: calc(6rem + 0.25rem);
                        }
                    }
                    &:nth-child(5) {
                        a {
                            right: 0.25rem;
                        }
                    }
                }
            }
        }
        .openNavDesc {
            width: 5rem;
            background-size: 1.5rem;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-position: 1rem center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: 0.6s;
            transform: translateX(-50%);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3 18V16H21V18H3ZM3 13V11H21V13H3ZM3 8V6H21V8H3Z' fill='%23191919'/%3E%3C/svg%3E");
        }
        .openedNavAll {
            .header__nav {
                background-color: var(--cgl) !important;
                background: linear-gradient(
                    180deg,
                    rgba(241, 241, 241, 0.7) 0%,
                    rgba(241, 241, 241, 0.64) 100%
                ) !important;
                backdrop-filter: blur(0.375rem) !important;
            }
        }
        .header.changed:not(.openedNavAll) {
            .header__nav {
                width: 9.25rem;
                height: 3.5rem;
                .openNavDesc {
                    opacity: 1;
                    transform: translateX(0);
                }
                ul {
                    margin-left: 2.75rem;
                    li {
                        opacity: 0.2;
                        &.current-menu-item {
                            a {
                                right: 0.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .header__button {
        position: relative;
        overflow: hidden;
        background-color: transparent !important;
        border: 1px solid var(--cw);
        color: var(--cw) !important;
        span {
            position: relative;
            z-index: 2;
        }
        .bgbtn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: var(--co);
            border-radius: 3rem;
            display: block;
            z-index: 0;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -1rem;
            bottom: -1rem;
            width: 100%;
            left: 0;
            border-radius: 3rem;
            z-index: 1;
            display: block;
            transform: translateX(-100%);
        }
        &::before {
            background-color: var(--cb);
        }
        &::after {
            background-color: var(--co);
            transform: translateX(-140%);
            border-radius: 40%;
        }
        &:hover {
            &::before {
                animation: bgAn1 0.45s forwards linear;
            }
            &::after {
                animation: bgAn2 0.45s forwards linear;
            }
        }
    }
    .header__lang {
        a {
            transition: .3s;
            &:hover {
                color: var(--co);
                border-color: var(--cgl);
            }
        }
    }
}

@keyframes bgAn1 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(40%);
    }
}

@keyframes bgAn2 {
    from {
        transform: translateX(-140%);
        border-radius: 40%;
    }
    to {
        transform: translateX(0);
        border-radius: 60%;
    }
}

@media screen and (max-width: 960px) {
    .header__content {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        height: inherit;
    }
    .header_part {
        min-width: inherit;
        .button {
            display: none;
        }
    }
    .custom-logo-link {
        max-width: 7.1875rem;
    }
    .header__nav {
        display: none;
    }
    .header__lang {
        display: none;
    }

    .header__burger {
        width: 4.5rem;
        height: 3rem;
        background-color: var(--cgl);
        display: block;
        position: relative;
        border-radius: 2rem;

        &.noAct {
            span {
                animation: none !important;
            }
        }

        &.opened {
            span {
                &:nth-child(1) {
                    animation: spanTS 0.6s forwards;
                }

                &:nth-child(2) {
                    animation: spanMS 0.6s forwards;
                }

                &:nth-child(3) {
                    animation: spanBS 0.6s forwards;
                }
            }
        }

        span {
            height: 0.188rem;
            width: 1.313rem;
            background-color: var(--ct);
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transition: 0.3s;

            &:nth-child(1) {
                transform: translate(-50%, -0.5rem) rotate(0);
                transform-origin: center center;
                animation: spanTE 0.5s forwards;
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(0);
                animation: spanME 0.5s forwards;
            }

            &:nth-child(3) {
                transform: translate(-50%, 0.34rem) rotate(0);
                animation: spanBE 0.5s forwards;
            }
        }
    }
}

@keyframes spanTS {
    0% {
        transform: translate(-50%, -0.5rem) rotate(0deg);
        transform-origin: top left;
    }
    25% {
        transform: translate(-50%, -0.5rem) rotate(-10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center center;
    }
}

@keyframes spanTE {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center center;
    }
    100% {
        transform: translate(-50%, -0.5rem) rotate(0deg);
        transform-origin: top left;
    }
}

@keyframes spanBS {
    0% {
        transform: translate(-50%, 0.34rem) rotate(0deg);
        transform-origin: top left;
    }
    25% {
        transform: translate(-50%, 0.34rem) rotate(10deg);
    }
    100% {
        bottom: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transform-origin: center center;
    }
}

@keyframes spanBE {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
        transform-origin: center center;
    }
    100% {
        transform: translate(-50%, 0.34rem) rotate(0deg);
        transform-origin: top left;
    }
}

@keyframes spanMS {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spanME {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
