<section class="section__partners section__simple">
  <div class="container">
    <div class="section__title center dividers">
      <div class="hr hrt"></div>
      <h2>We worked with</h2>
    </div>
  </div>
  <div class="partners__cont">
    <!-- sp =  n * 6;  sp2 = sp / 2 -->
    <style>
      .moveLEft > div {
        animation: animate 60s -60s linear infinite;
      }
      .moveLEft > div:nth-child(2) {
        animation: animate2 60s -30s linear infinite;
      }
      .moveRight > div {
        animation: animateR 60s -60s linear infinite;
      }
      .moveRight > div:nth-child(2) {
        animation: animate2R 60s -30s linear infinite;
      }
    </style>
    <div class="prtns__part">
      <div class="prtns__carousell moveLEft scroll">
        <div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
          </div>
        </div>
        <div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_3.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_4.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_1.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_2.svg" alt="" class="contain" />
          </div>
        </div>
      </div>
    </div>
    <div class="prtns__part">
      <div class="prtns__carousell moveRight scroll">
        <div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_5.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_6.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_7.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_8.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_5.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_6.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_7.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_8.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_5.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_6.svg" alt="" class="contain" />
          </div>
        </div>
        <div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_5.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_6.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_7.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_8.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_5.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_6.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_7.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_8.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_5.svg" alt="" class="contain" />
          </div>
          <div class="prtns__item splide__slide">
            <img src="/img/icons/prtns_6.svg" alt="" class="contain" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partners__sh"></div>
  <div class="container">
    <div class="hrcont dividers">
      <div class="hr hrb"></div>
    </div>
  </div>
</section>
