<section class="section__projects section__simple">
    <div class="container">
        <div class="section__title dividers">
            <div class="hr hrt"></div>
            <div class="hr hrb"></div>
            <h2>Our projects</h2>
            <button class="button__arrow"></button>
        </div>
        <ul class="projects__list">
            <load="../elements/project.html" />
            <load="../elements/project.html" />
            <load="../elements/project.html" />
            <load="../elements/project.html" />
            <load="../elements/project.html" />
            <load="../elements/project.html" />
        </ul>
    </div>
</section>