<section class="section__tabs">
  <div class="container">
    <div class="tabs__container">
      <div class="tabs__continner">
        <ul class="tabs__ctrllist flex">
          <li>
            <button data-tab="tab1" class="tabBtn active">
              Who we are?
              <span>01</span>
            </button>
          </li>
          <li>
            <button data-tab="tab2" class="tabBtn">
              Product
              <span>02</span>
            </button>
          </li>
          <li>
            <button data-tab="tab3" class="tabBtn">
              Marketing
              <span>03</span>
            </button>
          </li>
        </ul>
        <div class="tabs__cont">
          <div class="tab active" id="tab1">
            <h2>
              Product design <br /><span style="color: #ff5941">&</span> digital
              marketing
            </h2>
            <p>
              Product design & digital marketing solving <br />problems through
              creative & business lenses.
            </p>
            <div class="tab__img">
              <img src="./img/content/tab_1.png" alt="" />
            </div>
          </div>
          <div class="tab secondary" id="tab2">
            <div class="tab__left">
              <h2>Product</h2>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. 
              </p>
              <ul class="tabs__tags flex">
                <li>
                  <span>Strategy</span>
                </li>
                <li>
                  <span>MVP & POC</span>
                </li>
                <li>
                  <span>Venture design</span>
                </li>
                <li>
                  <span>UX/UI</span>
                </li>
                <li>
                  <span>CRO</span>
                </li>
                <li>
                  <span>Branding</span>
                </li>
              </ul>
              <a href="#" class="button primary"> All services </a>
            </div>
            <div class="tab__img">
              <img src="./img/content/tab_3.svg" alt="" />
            </div>
          </div>
          <div class="tab secondary" id="tab3">
            <div class="tab__left">
              <h2>Marketing</h2>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. 
              </p>
              <ul class="tabs__tags flex">
                <li>
                  <span>Strategy</span>
                </li>
                <li>
                  <span>MVP & POC</span>
                </li>
                <li>
                  <span>Venture design</span>
                </li>
                <li>
                  <span>UX/UI</span>
                </li>
                <li>
                  <span>CRO</span>
                </li>
                <li>
                  <span>Branding</span>
                </li>
              </ul>
              <a href="#" class="button primary"> All services </a>
            </div>
            <div class="tab__img">
              <img src="./img/content/tab_2.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
