<section class="section__tabs">
  <div class="tavs__shadow"></div>
  <div class="container">
    <div class="tabs__container">
      <div class="tabs__continner">
        <ul class="tabs__ctrllist flex">
          <li style="z-index: 3;">
            <button data-tab="tab1" class="tabBtn active">
              <span>Who we are?</span>
              <span>01</span>
            </button>
          </li>
          <li style="z-index: 2;">
            <button data-tab="tab2" class="tabBtn">
              <span>Product</span>
              <span>02</span>
            </button>
          </li>
          <li style="z-index: 1;">
            <button data-tab="tab3" class="tabBtn">
              <span>Marketing</span>
              <span>03</span>
            </button>
          </li>
        </ul>
        <div class="tabs__cont">
          <div class="tab active" id="tab1">
            <h2>
              Product design <br /><span style="color: #ff5941">&</span> digital
              marketing
            </h2>
            <div class="tab__img">
              <img src="./img/content/tab_1.gif" alt="" />
            </div>
            <p>
              Product design & digital marketing solving <br />problems through
              creative & business lenses.
            </p>
          </div>
          <div class="tab secondary" id="tab2">
            <div class="tab__left">
              <div class="tab__lt">
                <h2>Product</h2>
                <p>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
              </div>
              <div class="tab__img">
                <img src="./img/content/tab_2.gif" alt="" />
              </div>
              <div class="tab__bt">
                <ul class="tabs__tags flex">
                  <li>
                    <span>Strategy</span>
                  </li>
                  <li>
                    <span>MVP & POC</span>
                  </li>
                  <li>
                    <span>Venture design</span>
                  </li>
                  <li>
                    <span>UX/UI</span>
                  </li>
                  <li>
                    <span>CRO</span>
                  </li>
                  <li>
                    <span>Branding</span>
                  </li>
                </ul>
                <a href="../services.html" class="button primary"> All services </a>
              </div>
            </div>
            <div class="tab__img">
              <img src="./img/content/tab_2.gif" alt="" />
            </div>
          </div>
          <div class="tab secondary" id="tab3">
            <div class="tab__left">
              <div class="tab__lt">
                <h2>Marketing</h2>
                <p>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
              </div>
              <div class="tab__img">
                <img src="./img/content/tab_3.gif" alt="" />
              </div>
              <div class="tab__bt">
                <ul class="tabs__tags flex">
                  <li>
                    <span>Strategy</span>
                  </li>
                  <li>
                    <span>MVP & POC</span>
                  </li>
                  <li>
                    <span>Venture design</span>
                  </li>
                  <li>
                    <span>UX/UI</span>
                  </li>
                  <li>
                    <span>CRO</span>
                  </li>
                  <li>
                    <span>Branding</span>
                  </li>
                </ul>
                <a href="../services.html" class="button primary"> All services </a>
              </div>
            </div>
            <div class="tab__img">
              <img src="./img/content/tab_3.gif" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
