<section class="section__together white section__simple changeHeader">
    <div class="container">
        <div class="together__cont flex">
            <div class="together__img">
                <img src="./img/icons/hend_b.svg" alt="">
                <img src="./img/icons/hend.svg" alt="">
            </div>
            <h2 class="tohether__title">
                Let’s work
                <br>together
            </h2>
            <div class="together__buttons flex">
                <a href="#" class="button fourth">Contact us</a>
                <a href="#" class="button sixth">Book a call</a>
            </div>
        </div>
    </div>
</section>