<section class="contact">
  <div class="container">
    <div class="contact__body">
      <div class="contact__main">
        <div class="contact__top">
          <h1 class="contact__title">
            <span class="con-desc">Set Up Your Appointment</span>
            <span class="con-mob">Set Up Your Appt.</span>
          </h1>
          <div class="contact__text">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip. Quis nostrud exercitation ullamco laboris nisi ut
              aliquip.
            </p>
          </div>
        </div>

        <div class="contact__bottom">
          <button type="button" class="button primary">
            <span class="con-desc">Reserve Spot</span>
            <span class="con-mob">Let’s talk</span>
          </button>
          <div class="contact__live">
            <p>We live in <span>GMT+3/GMT+6</span></p>
          </div>
        </div>
      </div>

      <div class="contact__sidebar">
        <div class="contact__info">
          <h2 class="contact__subtitle">Or contact us</h2>
          <div class="contact__text">
            <p>
              We create data-driven marketing strategies that include search
              engine optimization (SEO)
            </p>
          </div>
          <address class="contact__address">
            <div class="contact__cont">
              <a href="mailto:hello@digitalkit.agency" id="emailLink">
                hello@digitalkit.agency
              </a>
              <button
                type="button"
                class="contact__copy clipboard"
                data-id="emailLink"
              >
                <span></span>
              </button>
            </div>
            <div class="contact__cont">
              <a href="tel:+380934584584" id="telLink">+38 093 458 45 84</a>
              <button
                type="button"
                class="contact__copy clipboard"
                data-id="telLink"
              >
                <span></span>
              </button>
            </div>
          </address>
        </div>

        <ul class="contact__list">
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              Behance
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              Facebook
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              Linkedin
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              Dribbble
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              Telegram
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
