<section class="article">
  <div class="container">
    <div class="article__body">
      <div class="article__heading">
        <p class="article__direction" style="background-color: #72cc8c">
          UI/UX Design
        </p>
        <p class="article__date">May 12, 2024</p>
      </div>

      <h1 class="article__title">
        The art typography:<br />
        The correct use of fonts
      </h1>

      <div class="article__box">
        <div class="article__user">
          <div class="article__ava">
            <img src="./img/content/team_4.jpg" alt="" class="cover" />
          </div>
          <div class="article__info">
            <p class="article__name">Serhii Sementsov</p>
            <p class="article__job">UI/UX Designer</p>
          </div>
        </div>

        <div class="article__soc soc-desc">
          <p>Share via:</p>
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/article_soc1.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/article_soc2.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/article_soc3.svg" alt="" /></span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="article__main">
        <div class="article__sidebar">
          <div class="article__wrapp">
            <h2 class="article__summary">Summary</h2>
            <ol class="article__tabs ankor"></ol>
          </div>
        </div>

        <div class="article__content">
          <div class="embedContent">
            <h3>Ut enim ad minim veniam</h3>
            <div class="embedImg imgDef">
              <img src="./img/content/blog_1.jpg" alt="" class="cover" />
            </div>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </p>

            <h3>Nostrud exercitation ullamco</h3>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </p>
            <div class="embedImg imgBig">
              <img src="./img/content/blog_2.jpg" alt="" class="cover" />
            </div>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
            </p>

            <h3>Ullamco laboris nisi ut aliquip</h3>
            <div class="embedImg imgTwo">
              <div>
                <img src="./img/content/blog_1.jpg" alt="" class="cover" />
              </div>
              <div>
                <img src="./img/content/blog_3.jpg" alt="" class="cover" />
              </div>
            </div>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>

      <div class="article__soc soc-mob">
        <p>Share via:</p>
        <ul>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/article_soc1.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/article_soc2.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/article_soc3.svg" alt="" /></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
