<section class="articles">
  <div class="container">
    <div class="articles__body">
      <div class="articles__heading">
        <h2 class="articles__title">More articles</h2>
      </div>
      <div class="articles__carousell carousell_1 splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="articles__box">
                <div class="articles__top">
                  <p
                    class="articles__direction"
                    style="background-color: #ff5941"
                  >
                    UI/UX Design
                  </p>
                  <p class="articles__date">May 12, 2024</p>
                </div>
                <a href="#" class="articles__name">
                  The art typography: The correct use of fonts
                </a>
                <div class="articles__desc">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
              </div>
              <a href="#" class="articles__img">
                <img src="./img/content/blog_1.jpg" alt="" class="cover" />
              </a>
            </li>
            <li class="splide__slide">
              <div class="articles__box">
                <div class="articles__top">
                  <p
                    class="articles__direction"
                    style="background-color: #ff5941"
                  >
                    UI/UX Design
                  </p>
                  <p class="articles__date">May 12, 2024</p>
                </div>
                <a href="#" class="articles__name">
                  The art typography: The correct use of fonts
                </a>
                <div class="articles__desc">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
              </div>
              <a href="#" class="articles__img">
                <img src="./img/content/blog_2.jpg" alt="" class="cover" />
              </a>
            </li>
            <li class="splide__slide">
              <div class="articles__box">
                <div class="articles__top">
                  <p
                    class="articles__direction"
                    style="background-color: #ff5941"
                  >
                    UI/UX Design
                  </p>
                  <p class="articles__date">May 12, 2024</p>
                </div>
                <a href="#" class="articles__name">
                  The art typography: The correct use of fonts
                </a>
                <div class="articles__desc">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
              </div>
              <a href="#" class="articles__img">
                <img src="./img/content/blog_3.jpg" alt="" class="cover" />
              </a>
            </li>
            <li class="splide__slide">
              <div class="articles__box">
                <div class="articles__top">
                  <p
                    class="articles__direction"
                    style="background-color: #ff5941"
                  >
                    UI/UX Design
                  </p>
                  <p class="articles__date">May 12, 2024</p>
                </div>
                <a href="#" class="articles__name">
                  The art typography: The correct use of fonts
                </a>
                <div class="articles__desc">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
              </div>
              <a href="#" class="articles__img">
                <img src="./img/content/blog_2.jpg" alt="" class="cover" />
              </a>
            </li>
            <li class="splide__slide">
              <div class="articles__box">
                <div class="articles__top">
                  <p
                    class="articles__direction"
                    style="background-color: #ff5941"
                  >
                    UI/UX Design
                  </p>
                  <p class="articles__date">May 12, 2024</p>
                </div>
                <a href="#" class="articles__name">
                  The art typography: The correct use of fonts
                </a>
                <div class="articles__desc">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
              </div>
              <a href="#" class="articles__img">
                <img src="./img/content/blog_3.jpg" alt="" class="cover" />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="splide__arrows splide__arrows--ltr">
        <button class="splide__arrow splide__arrow--prev"></button>
        <ul class="splide__pagination"></ul>
        <button class="splide__arrow splide__arrow--next"></button>
      </div>
    </div>
  </div>
</section>
