<section class="article">
  <div class="container">
    <div class="article__body">
      <div class="article__heading">
        <p class="article__direction">UI/UX Design</p>
        <p class="article__date">May 12, 2024</p>
      </div>

      <h1 class="article__title">
        The art typography: The correct use of fonts
      </h1>

      <div class="article__box">
        <div class="article__user">
          <div class="article__ava">
            <img src="./img/content/team_4.jpg" alt="" />
          </div>
          <div class="article__info">
            <p class="article__name">Serhii Sementsov</p>
            <p class="article__job">UI/UX Designer</p>
          </div>
        </div>

        <div class="article__soc">
          <p>Share via:</p>
          <ul>
            <li>
              <a href="" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/article_soc1.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/article_soc2.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/article_soc3.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="article__main">
        <div class="article__sidebar">
          <ul class="article__list ankor"></ul>
        </div>
        <div class="article__content">
          <div class="embedContent"></div>
        </div>
      </div>
    </div>
  </div>
</section>
