<section class="section__allservices section__simple">
  <div class="container">
    <div class="section__title">
      <h2>Our services</h2>
    </div>
    <div class="allservices__cont">
      <ul class="allservices__list">
        <li>
          <button data-id="1">Pitch & <br />corporate decks</button>
        </li>
        <li>
          <button data-id="2">Report design</button>
        </li>
        <li>
          <button data-id="3">Visual Makeover</button>
        </li>
        <li>
          <button data-id="4">White Paper</button>
        </li>
        <li>
          <button data-id="5">Infographics</button>
        </li>
        <li>
          <button data-id="6">Content Refresh</button>
        </li>
        <li>
          <button data-id="7">Investor - Winning Narratives</button>
        </li>
      </ul>
      <div class="allservices__right">
        <div class="allservices__carousell carousell_1 splide">
          <div class="splide__track">
            <ul class="allservices__textlist splide__list">
              <li data-id="allservices_0" class="splide__slide">
                <h2>Let us tell you more</h2>
                <div class="text">
                  <p>
                    Simply hover your cursor over the item you are interested in
                  </p>
                </div>
                <div class="allservices__img alser_0">
                  <span><img src="./img/icons/alls_0.svg" alt="" /></span>
                </div>
              </li>
              <li data-id="allservices_1" class="splide__slide">
                <h2>Pitch & corporate <br />decks</h2>
                <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="allservices__img alser_1">
                  <span><img src="./img/icons/alls_1.svg" alt="" /></span>
                </div>
              </li>
              <li data-id="allservices_2" class="splide__slide">
                <h2>Report design</h2>
                <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="allservices__img alser_2">
                  <span><img src="./img/icons/alls_2.svg" alt="" /></span>
                </div>
              </li>
              <li data-id="allservices_3" class="splide__slide">
                <h2>Visual Makeover</h2>
                <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="allservices__img alser_3">
                  <span><img src="./img/icons/alls_3.svg" alt="" /></span>
                </div>
              </li>
              <li data-id="allservices_4" class="splide__slide">
                <h2>White Paper</h2>
                <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="allservices__img alser_4">
                  <span><img src="./img/icons/alls_4.svg" alt="" /></span>
                </div>
              </li>
              <li data-id="allservices_5" class="splide__slide">
                <h2>Infographics</h2>
                <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="allservices__img alser_5">
                  <span><img src="./img/icons/alls_5.svg" alt="" /></span>
                </div>
              </li>
              <li data-id="allservices_6" class="splide__slide">
                <h2>Content Refresh</h2>
                <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="allservices__img alser_6">
                  <span><img src="./img/icons/alls_6.svg" alt="" /></span>
                </div>
              </li>
              <li data-id="allservices_7" class="splide__slide">
                <h2>Investor - Winning Narratives</h2>
                <div class="text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="allservices__img alser_7">
                  <span><img src="./img/icons/alls_7.svg" alt="" /></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ul class="allservices__icons">
          <li id="allservicesimg_0">
            <span><img src="./img/icons/alls_0.svg" alt="" /></span>
          </li>
          <li id="allservicesimg_1">
            <span><img src="./img/icons/alls_1.svg" alt="" /></span>
          </li>
          <li id="allservicesimg_2">
            <span><img src="./img/icons/alls_2.svg" alt="" /></span>
          </li>
          <li id="allservicesimg_3">
            <span><img src="./img/icons/alls_3.svg" alt="" /></span>
          </li>
          <li id="allservicesimg_4">
            <span><img src="./img/icons/alls_4.svg" alt="" /></span>
          </li>
          <li id="allservicesimg_5">
            <span><img src="./img/icons/alls_5.svg" alt="" /></span>
          </li>
          <li id="allservicesimg_6">
            <span><img src="./img/icons/alls_6.svg" alt="" /></span>
          </li>
          <li id="allservicesimg_7">
            <span><img src="./img/icons/alls_7.svg" alt="" /></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
