<section class="section__process section__simple">
  <div class="container">
    <div class="section__title">
      <h2>Process</h2>
    </div>
    <div class="process__container">
      <ul class="process__list accordeonStart">
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger"><span>01/</span> <h3>Research & Discovery</h3></div>
          </h2>
          <div class="ac-panel">
            <div class="ac-text">
              <div class="process__inner flex">
                <div class="process__part">
                  <a href="#" class="button fifth">Tell me more</a>
                </div>
                <div class="process__part">
                  <p>
                    Understand the project goals, target audience, and business
                    requirements. Organize and structure content to create an
                    intuitive and user-friendly navigation system.
                  </p>
                  <ul>
                    <li>Conduct user interviews and surveys.</li>
                    <li>Analyze competitors and industry trends.</li>
                    <li>Create user personas to represent target users.</li>
                    <li>Define project scope and constraints.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger"><span>02/</span> <h3>Information Architecture</h3></div>
          </h2>
          <div class="ac-panel">
            <div class="ac-text">
              <div class="process__inner flex">
                <div class="process__part">
                  <a href="#" class="button fifth">Tell me more</a>
                </div>
                <div class="process__part">
                  <p>
                    Understand the project goals, target audience, and business
                    requirements. Organize and structure content to create an
                    intuitive and user-friendly navigation system.
                  </p>
                  <ul>
                    <li>Conduct user interviews and surveys.</li>
                    <li>Analyze competitors and industry trends.</li>
                    <li>Create user personas to represent target users.</li>
                    <li>Define project scope and constraints.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger"><span>03/</span> <h3>Wireframing</h3></div>
          </h2>
          <div class="ac-panel">
            <div class="ac-text">
              <div class="process__inner flex">
                <div class="process__part">
                  <a href="#" class="button fifth">Tell me more</a>
                </div>
                <div class="process__part">
                  <p>
                    Understand the project goals, target audience, and business
                    requirements. Organize and structure content to create an
                    intuitive and user-friendly navigation system.
                  </p>
                  <ul>
                    <li>Conduct user interviews and surveys.</li>
                    <li>Analyze competitors and industry trends.</li>
                    <li>Create user personas to represent target users.</li>
                    <li>Define project scope and constraints.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger"><span>04/</span> <h3>Prototyping</h3></div>
          </h2>
          <div class="ac-panel">
            <div class="ac-text">
              <div class="process__inner flex">
                <div class="process__part">
                  <a href="#" class="button fifth">Tell me more</a>
                </div>
                <div class="process__part">
                  <p>
                    Understand the project goals, target audience, and business
                    requirements. Organize and structure content to create an
                    intuitive and user-friendly navigation system.
                  </p>
                  <ul>
                    <li>Conduct user interviews and surveys.</li>
                    <li>Analyze competitors and industry trends.</li>
                    <li>Create user personas to represent target users.</li>
                    <li>Define project scope and constraints.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <div class="ac-trigger"><span>05/</span> <h3>Visual Design</h3></div>
          </h2>
          <div class="ac-panel">
            <div class="ac-text">
              <div class="process__inner flex">
                <div class="process__part">
                  <a href="#" class="button fifth">Tell me more</a>
                </div>
                <div class="process__part">
                  <p>
                    Understand the project goals, target audience, and business
                    requirements. Organize and structure content to create an
                    intuitive and user-friendly navigation system.
                  </p>
                  <ul>
                    <li>Conduct user interviews and surveys.</li>
                    <li>Analyze competitors and industry trends.</li>
                    <li>Create user personas to represent target users.</li>
                    <li>Define project scope and constraints.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
