<section class="section__together white section__simple changeHeader">
    <div class="container">
        <div class="together__cont flex">
            <h2 class="tohether__title">
                Ready to craft <br>present. that <br>resonate?
            </h2>
            <div class="together__buttons biggerMargin flex">
                <a href="../contact.html" class="button fourth">Contact us</a>
                <a href="https://calendar.google.com/calendar/u/0/r" target="_blank" class="button sixth">Book a call</a>
            </div>
        </div>
    </div>
</section>