<section class="section section__service">
  <div class="main__bg bottom"></div>
  <div class="main__bg top"></div>
  <div class="container">
    <div class="service__content">
        <div class="service__inner">
            <h1>
                What <br>can <span style="color: #FF5941;">good*</span> present. do?
            </h1>
            <div class="service__bottom flex jcsb centerV">
                <div class="service__tag">
                    Open doors, win attention and support and engage and drive action 
                </div>
                <button class="service__arrow"></button>
            </div>
        </div>
    </div>
  </div>
</section>
